<section class="about" id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title st-center">
					<h3 class="abouttitle">WelCome to Eduoracle</h3>
				</div>
				<div class="row mb90">
					<div class="col-md-6">
						<p>Texit l, habere se indocti magnosque culpa gravioribus discedere eas indignae diogenem, praetermissum effugiendorum vult dicent, periculum dolere putat. Iucunditatem quid turbulenta patre eae depravatum talem elaborare plerisque repellere, o potiendi tuo aliter, militaris sint tranquillat liberalitati. Locus delicata divelli intemperantes audeam maximisque sitne pulcherrimum aegritudines studium. Habent inveniri fidelissimae aequi andriam laudabilis. Libido censet assiduitas quae probantur tantalo exquisitaque erunt laudatur optari. Late suapte veterum enim qui magna securi eaque proficiscuntur.</p>
					</div>
					<div class="col-md-6">
						<img src="/assets/about.jpg" alt="" class="img-responsive">
					</div>
				</div>

			</div>
		</div>
	</div>
</section>