 .cf:before, .cf:after{
      content:"";
      display:table;
    }
    
    .cf:after{
      clear:both;
    }

    .cf{
      zoom:1;
    }

    /*-------------------------------------*/ 
    
  .form-wrapper {
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
  margin: 30px auto 0;
  padding: 15px;
 
}
  .form-wrapper select {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #eee none repeat scroll 0 0;
  border-color: #e54040;
  border-image: none;
  border-radius: 3px 0 0 3px;
  border-style: none solid none none;
  border-width: 0 6px 0 0;
  float: left;
  font: bold 15px "lucida sans","trebuchet MS","Tahoma";
  padding: 12px 5px;
  width: 275px;
}
    .form-wrapper select:focus {
        outline: 0;
        background: #fff;
        -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
    
    .form-wrapper select::-webkit-input-placeholder {
       color: #999;
       font-weight: normal;
       font-style: italic;
    }
    
    .form-wrapper select:-moz-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }
    
    .form-wrapper select:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }    
    
    .form-wrapper button {
    overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 40px;
        width: 110px;
        font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
        color: #fff;
        text-transform: uppercase;
        background: #d83c3c;
        -moz-border-radius: 0 3px 3px 0;
        -webkit-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;      
        text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    }   
      
    .form-wrapper button:hover{   
        background: #e54040;
    } 
      
    .form-wrapper button:active,
    .form-wrapper button:focus{   
        background: #c42f2f;    
    }
    
    .form-wrapper button:before {
        content: '';
        position: absolute;
        border-width: 8px 8px 8px 0;
        border-style: solid solid solid none;
        border-color: transparent #d83c3c transparent;
        top: 12px;
        left: -6px;
    }
    
    .form-wrapper button:hover:before{
        border-right-color: #e54040;
    }
    
    .form-wrapper button:focus:before{
        border-right-color: #c42f2f;
    }    
    
    .form-wrapper button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
.byline p{
  text-align:center;
  color:#c6c6c6;
  font: bold 18px Arial, Helvetica, Sans-serif;
  text-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.byline p a{
  color:#d83c3c;
  text-decoration:none;

}
@media (max-width: 768px) {

.form-wrapper {
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
  margin: 30px auto 50px;
  padding: 15px;
  width: 100%;
}
.form-wrapper input {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #eee none repeat scroll 0 0;
  border-color: -moz-use-text-color -moz-use-text-color red;
  border-image: none;
  border-radius: 3px 0 0 3px;
  border-style: none;
  border-width: 0 0 1px;
  float: left;
  font: bold 15px "lucida sans","trebuchet MS","Tahoma";
  margin-bottom: 4px;
  padding: 12px 5px;
  width: 100%;
}
.form-wrapper button {
  background: #d83c3c none repeat scroll 0 0;
  border: 0 none;
  border-radius: 0 3px 3px 0;
  color: #fff;
  cursor: pointer;
  float: right;
  font: bold 15px/40px "lucida sans","trebuchet MS","Tahoma";
  height: 40px;
  margin-top: 10px;
  overflow: visible;
  padding: 0;
  position: relative;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  width: 100%;
}


  }