
.container-fluid.bg{
	background: asset_url("bg.jpg") no-repeat;
	background-position: center;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
}
.stuB {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  border-bottom: 25px solid rgba(0, 0, 0, 0.55);
  margin: 8% auto 1%;
  width: 55%;
}
.stuBbanner {
  background: #ffffff none repeat scroll 0 0;
  height: 90px;
}
.H4cuStom{
  color: #ffffff;
}
.list-group-item.custlist {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0;
  display: block;
  margin-bottom: 20px;
  padding: 10px 15px;
  position: relative;
}
.logo {
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 110px;
  width: 110px;
}
.img-circle.stygfh {
    border-radius: 50%;
    border: 6px solid rgba(0,0,0,0.55);
}
.row.trt {
  color: #ffffff;
  margin-top: 12px;
  text-align: center;
}
.col-sm-6.col-xs-12.col-lg-6.colr{
	border-right:1px solid grey;
	margin: 20px 0px;
	text-align: justify;
}
.col-sm-6.col-xs-12.col-lg-6.colrd{
	margin:5px 0px;
	text-align: justify;
}
.colB{
	margin-top:20px;
}
.mtex{
	color:#5bc0de;
}

@media screen and (max-width:768px) {
 .stuB {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  border-bottom: 25px solid rgba(0, 0, 0, 0.55);
  margin: 20% auto 4%;
  width: 100%;
}
 

.logo {
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 161px;
  width: 110px;
}
.row.trt {
  margin-top: 30px;
  text-align: center;
}  
.colB {
  margin-top:0px;
}
}
@media screen and (max-width:360px) {
 .stuB {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  border-bottom: 25px solid rgba(0, 0, 0, 0.55);
  margin: 37% auto 4%;
  width: 100%;
}
 

.logo {
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 139px;
  width: 110px;
}
.row.trt {
  margin-top: 30px;
  text-align: center;
}  
.colB {
  margin-top:0px;
}
}
@media screen and (max-width:320px) {
 .stuB {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  border-bottom: 25px solid rgba(0, 0, 0, 0.55);
  margin: 37% auto 4%;
  width: 100%;
}
 

.logo {
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 123px;
  width: 110px;
}
.row.trt {
  margin-top: 30px;
  text-align: center;
}  
.colB {
  margin-top:0px;
}
}

